<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="home center jumbotron">
    <h1>Welcome to the Demo App</h1>
    <p>
     <img src="https://udemy-images.udemy.com/course/750x422/8082_e627_11.jpg", alt: "Ruby">
    </p>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
   </div>
<%end%>