<% provide(:title, 'List entry') %>
<h1>List entry</h1>

<%= will_paginate %>
  <ul class="entries">
    <% @entries.each do |entry| %>
     <%= render @entries %>
    <% end %> 
  </ul>
<%= will_paginate %>