<footer class="footer">
  <ul>
    <li>Design by Tam Tran</li>
    <li>Contact: thanhtam12t3@gmail.com</li>
    <li><a href="https://www.facebook.com/Gunbbz">Facebook</li>
    </ul>
  </nav>
</footer>